.header {
	background: rgb(252, 231, 200);
	position: fixed;
	display: flex;
	align-items: center;
	width: 100vw;
	height: 50px;
	z-index: 1000;
}

.logoContainer {
	height: 100%;
	width: 33.33vw;
	display: flex;
	align-items: center;
	justify-content: start;
}

.navStyle {
	height: 100%;
	width: 33.33vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.userStyle {
	height: 100%;
	width: 33.33vw;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.logo {
	width: 2.5em;
	height: auto;
	padding: 1vw;
}

.logoText {
	color: black;
	font-weight: bold;
	font-size: 1.5em;
}

.ulStyle {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0em;
}

.liStyle {
	padding: 0 30px;
}

.linkStyle {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: 1.5rem;
}

.active {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5rem;
	color: black;
}

.accountIcon {
	font-size: 3.2rem;
	background-color: transparent;
	border-radius: 50px;
	margin: 0;
	border: 0;
	cursor: pointer;
}

.dropdownMenuContainer {
	background-color: rgb(252, 231, 200);
	box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.3);
	position: fixed;
	text-align: center;
	top: 60px;
	right: 10px;
	width: 200px;
	border-radius: 20px;
	font-size: 1.2rem;
}

hr {
	border-top: 1px solid rgb(0, 0, 0);
	margin: 0em 1em 1em 1em;
	padding: 0;
	border-radius: 20px;
}

.dropdownAccount {
	padding: 0;
	margin: 0;
}

.dropdownActionsListContainer {
	padding-bottom: 1em;
}

.dropdownActionsList {
	list-style: none;
	padding: 0em;
	margin: 0em 1em;
	font-size: 1em;
}

.dropdownListElementContainer {
	display: flex;
	justify-content: center;
}

.dropdownListElementContainer span {
	padding: 0em 0.2em;
}

.logOutButton {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	font-size: 1em;
	cursor: pointer;
}

.logOutButton:hover {
	color: rgb(219, 169, 121);
}

.notAuthenticated {
	display: none;
}
